.dirstamp
*.o
*~
np2tool/np2tool.d88
x11/autom4te.cache
x11/Makefile.in
x11/aclocal.m4
x11/compile
x11/config.guess
x11/config.h.in
x11/config.log
x11/config.status
x11/config.sub
x11/configure
x11/install-sh
x11/missing
x11/stamp-h1
x11/xnp2
x11/xnp2.1
x11/xnp2.1j
x11/xnp21
x11/xnp21.1
x11/xnp21.1j

xnp2.cflags
xnp2.config
xnp2.creator
xnp2.creator.*
xnp2.cxxflags
xnp2.files
xnp2.includes

.qtc_*
build/

*.d
*.spv
